html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: Roboto, 'Clicker Script', 'Kaushan Script', 'News Cycle', BenchNine, 'Poiret One', 'Open Sans Condensed', Playball, 'Shadows Into Light Two';
}
html {
    background: url('../img/audrey_jump.jpg') top center no-repeat;
    background-size: 100%;
    //background-color: rgba(27,125,100,0.7);
    background-color: rgba(242,172,188,0.3);
}

.custom-restricted-width {
    /*display: inline-block;*/
    /*width: 10em;*/
}

.padded-1 {
    padding: 1em;
}
.padded-half {
    padding: 0.5em;
}

.button-go {
    background: rgb(27, 125, 0);
    border-radius: 5px;
    margin: 2px 0;

    box-shadow:
    -1px -1px 0 rgba(0,0,0,0.1),
    1px -1px 0 rgba(0,0,0,0.1),
    -1px 1px 0 rgba(0,0,0,0.1),
    1px 1px 0 rgba(0,0,0,0.1);
}

.pure-g [class *= "title"] {
    font-family: Lobster, 'Clicker Script', 'Kaushan Script', 'News Cycle', BenchNine, 'Poiret One', 'Open Sans Condensed', Playball, 'Shadows Into Light Two';
    color: white;
    text-shadow:
    -1px -1px 0 rgba(75,70,59,0.5),
    1px -1px 0 rgba(75,70,59,0.5),
    -1px 1px 0 rgba(75,70,59,0.5),
    1px 1px 0 rgba(75,70,59,0.5);
    
    font-size: 2em;
}

#nav {
    padding: 0.5em;
}

#logo {
    margin: 0.5em;
    background: white;
    border-radius: 5%;
}

#footer {
    background: rgba(254,237,0,0.7);
}

#footer .quote {
    text-align: center;
    font-size: 1.5em;
}

/*content*/

#content {
    background: white;
    border-radius: 15px;
    margin: 0.5em;
    height: 350px;
    overflow-y: scroll;

    box-shadow:
    -1px -1px 0 rgba(75,70,59,0.5),
    1px -1px 0 rgba(75,70,59,0.5),
    -1px 1px 0 rgba(75,70,59,0.5),
    1px 1px 0 rgba(75,70,59,0.5);
}

#content ul {
    
}
